%div{:'ng-controller' => 'ServiceOrderListCtrl as serviceOrderList'}

  :ruby
    total_items_filters = [
      "status:'orderStatus':status",
      "forwardMatch:'contractId':serviceOrderList.keyword"
    ].join('|')
    table_filters = [
      total_items_filters,
      'pagination:serviceOrderList.page'
    ].join('|')

  .page-header
    %h3{:'ng-bind' => 'serviceOrderList.service.name'}

  %div
    %form
      .form-group
        %input.form-control{:'ng-model' => 'serviceOrderList.keyword', :placeholder => '契約番号'}
      .form-group
        %select.form-control{:required => true, :'ng-init' => 'status = serviceOrderList.service.orderStatusOptions[0]', :'ng-model' => 'status', :'ng-options' => 'item as item.label for item in serviceOrderList.service.orderStatusOptions', :'ng-change' => 'serviceOrderList.page = 1'}

  %ncs-loading{:'data-available' => "(serviceOrderList.serviceOrders|#{total_items_filters}).length", :'data-loading' => 'serviceOrderList.loading', :'data-message' => 'serviceOrderList.message'}
    %table.table.table-striped.table-list
      %thead
        %tr
          %th 契約番号
          %th サービス名
          %th 状況
      %tbody.rowlink{:'data-link' => 'row'}
        %tr{:'ng-repeat' => "serviceOrder in serviceOrderList.serviceOrders|#{table_filters}"}
          %td
            %a{:'ng-href' => '#/service_orders/{{ serviceOrderList.service.key }}/{{ serviceOrder.orderRequestNum }}', :'ng-bind' => 'serviceOrder.contractId'}
          %td{:'ng-bind' => 'serviceOrder.serviceName|truncate'}
          %td
            %ncs-type{:types => 'serviceOrderList.service.orderStatuses', :value => 'serviceOrder.orderStatus'}

    .text-center
      %pagination{:'ng-model' => 'serviceOrderList.page', :'total-items' => "(serviceOrderList.serviceOrders|#{total_items_filters}).length", :'ng-change' => 'serviceOrderList.pageChanged()'}
