<div class='root' ng-controller='RootCtrl as root'>
  <nav class='navmenu navmenu-menu navmenu-fixed-left offcanvas' id='menu'>
    <h1 class='navmenu-brand'>APIゲートウェイアプリ</h1>
    <ul class='nav navmenu-nav'>
      <li ng-class='{active: root.isMenuSelected(menu.key)}' ng-repeat='menu in root.menuList'>
        <a ng-bind='menu.name' ng-click="root.menuClick('{{ menu.key }}')"></a>
      </li>
    </ul>
  </nav>
  <nav class='navmenu navmenu-services navmenu-fixed-right offcanvas' id='services'>
    <ul class='nav navmenu-nav' ng-repeat='serviceCategory in root.serviceCategoryFactory'>
      <li class='navmenu-group-name navmenu-brand' ng-bind='serviceCategory.name'></li>
      <li class='navmenu-group-item' ng-class='{active: root.isServiceSelected(service.key), disabled: root.isServiceDisabled(service.key)}' ng-repeat='service in serviceCategory.services'>
        <a ng-bind='service.name' ng-click="root.serviceClick('{{ service.key }}')"></a>
      </li>
    </ul>
  </nav>
  <div id='canvas'>
    <div class='navbar navbar-default navbar-fixed-top'>
      <button class='navbar-toggle navbar-toggle-menu' data-canvas='#canvas' data-target='#menu' data-toggle='offcanvas' type='button'>
        <img height='32' src='images/icon.png' width='32'>
      </button>
      <button class='navbar-toggle navbar-toggle-services' data-canvas='#canvas' data-target='#services' data-toggle='offcanvas' type='button'>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <h2 class='navbar-text navbar-title' ng-bind='root.menu.name'></h2>
    </div>
    <div class='container main-content'>
      <div ng-view=''></div>
    </div>
    <div class='container footer'>
      <span class='footer-text' ng-bind-html='root.copyright()'></span>
    </div>
  </div>
</div>
